/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.ks-default .markItUp .markItUpButton1 a {
	background-image:url(images/bold.png);
}
.ks-default .markItUp .markItUpButton2 a {
	background-image:url(images/italic.png);
}
.ks-default .markItUp .markItUpButton3 a {
	background-image:url(images/stroke.png);
}

.ks-default .markItUp .markItUpButton4 a {
	background-image:url(images/picture.png); 
}
.ks-default .markItUp .markItUpButton5 a {
	background-image:url(images/link.png);
}

.ks-default .markItUp .markItUpButton6 a {
	background-image:url(images/clean.png);
}
.ks-default .markItUp .preview a {
	background-image:url(images/preview.png);
}